---
import "../styles/global.css";
import Hotjar from "../components/Hotjar.astro";
import Footer from "../components/Footer.astro";

const metadata = {
  title: "Mobile Legends Counter: Lista de héroes, counters, consejos y más.",
  description:
    "Descubre secretos para subir rápidamente en el ranking de Mobile Legends, contrarresta a tus adversarios y alcanza la victoria con nuestra herramienta online. ¡Haz clic ahora!",
  url: "https://mobilelegendscounter.com/",
  urlimg: "https://mobilelegendscounter.com/logo.png",
  sitename: "Mobile Legends Counter",
  creator: "Lunox | Moises Obando",
  type: "website",
};
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>{metadata.title}</title>
    <meta name="description" content={metadata.description} />
    <link rel="apple-touch-icon" href="/favicon.svg">
    <link rel="canonical" href={metadata.url} />
    <Hotjar />

    <!-- Facebook Meta Tags -->
    <meta property="og:title" content={metadata.title} />
    <meta property="og:description" content={metadata.description} />
    <meta property="og:image" content={metadata.urlimg} />
    <meta property="og:url" content={metadata.url} />
    <meta property="og:type" content={metadata.type} />
    <meta property="og:site_name" content={metadata.sitename} />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content={metadata.description} />
    <meta property="twitter:domain" content={metadata.url} />
    <meta property="twitter:url" content={metadata.url} />
    <meta name="twitter:title" content={metadata.title} />
    <meta name="twitter:description" content={metadata.description} />
    <meta name="twitter:image" content={metadata.urlimg} />
    <meta name="twitter:creator" content={metadata.creator}>
    <meta name="twitter:site" content={metadata.url} />
  </head>
  <body
    class="min-h-screen flex flex-col items-center p-4 mt-3 sm:mt-10"
  >
    <main class="max-w-full sm:max-w-screen-md mx-auto">
      <slot />
    </main>
    <footer>
      <Footer />
    </footer>
  </body>
</html>
